#Идентификатор проекта в GPC
project_id = "indigo-almanac"

#Расположения ЦОД
region = "europe-west4"

#Образы для развертывания
image_name = {
  "nginx" = "ubuntu-nginx",
  "mongo" = "ubuntu-mongodb",
  "puma"  = "ubuntu-puma"
}
count_puma = 3
user = "tihomirovnv"
private_key_path = "~/.ssh/user"
public_key_path = "~/.ssh/user.pub"
