server {
listen {{ port | default('80') }};

access_log            /var/log/nginx/domain.name.access.log;

location / {
    proxy_pass http://{{ puma_application | default('10.10.10.20:8080') }}/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP  $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    allow all;
    }

}
